{% extends 'base.html' %}
{% load static %}

{% block styles %}
<style>
  .chat-container {
    position: relative; /* Ensure the container is positioned relative for absolute positioning of overlay */
  }

  .messages-box {
    position: relative; /* Ensure the messages box is positioned relative for absolute positioning of overlay */
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  }

  /* Close button styles */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
  }

  .close-button:hover {
    color: #cccccc;
  }
</style>
{% endblock %}

{% block content %}

<!-- Chat interface -->
<div class="chat-container">
  <div class="flex-grow-1">
    {% if user.is_authenticated %}
    <div id="chatbot-header">
      <h3 style="padding: 10px 5px; margin-left: 5px; font-variant: small-caps;">Welcome  {{user.username}}</h3>
      <h2>Peace Hub</h2>
      
      <a style="color: rgb(39, 39, 39); border-bottom: 1px solid black;" href="{% url 'games' %}">Games</a> <br>
      <a style="color: rgb(39, 39, 39); border-bottom: 1px solid black;" href="{% url 'videochat' %}">Video Chat</a> <br>
      <a style="color: rgb(39, 39, 39); border-bottom: 1px solid black;" href="logout">Logout</a>
    </div>
    {% else %}
    <div class="card-header bg-primary text-white">
      <a style="color: yellow;" href="login">Login</a> 
      <a style="color: yellow;" href="register">Register</a>
    </div>
    {% endif %}
  </div>
    
  <div class="card-body messages-box" style="background-image: url('{% static 'bg-gen/generated_image.png' %}'); background-repeat: no-repeat;
  background-size: cover;" >
    <div class="overlay"></div> <!-- Overlay to make text readable -->
    <ul class="list-unstyled messages-list">
      {% for chat in chats %}
      {% if chat.user == request.user %}
      <li class="message sent">
        <div class="message-text">
          <div class="message-sender">
            <b>You</b>
          </div>
          <div class="message-content">
            {{chat.message}}
          </div>
        </div>
      </li>
      <li class="message received">
        <div class="message-text">
          <div class="message-sender">
            <b>AI Chatbot</b>
          </div>
          <div class="message-content">
            {{chat.response}}
          </div>
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<!-- Message form -->
<form class="message-form">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control message-input" placeholder="Type your message...">
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary btn-send">Send</button>
    </div>
    <div class="mic">
      <a href="{% url 'audio_chat' %}" id="mic-link"><img id="mic" width="30px" src="{% static 'images/mic.svg' %}" alt="Microphone"></a>
    </div>
    <button class="btn btn-sm btn-danger mb-2" style="width: fit-content;" id="delete-chats">Delete Chats</button>
  </div>
</form>
{% endblock %}
